<h1>$t.get("Welcome")</h1>
<h2>
#if ( $connected )
    $t.get("Connected")
#else
    $t.get("Disconnected")
#end
</h2>
<ul>
#foreach( $path in $paths )
    <li>$path</li>
#end
</ul>
$t.get("LoggedInAs"): $local-id
